{% extends 'blog/base.html' %}
{% block content %}
  <div class="container-fluid">
    {% if messages %}
        {% for message in messages %}
        <span class="text-success">
            {{message}}</span>
        {% endfor %}
        {% endif %}
    <div class="container-fluid ">
        <div class="row">
          <div class="col-6">
              <h3> Hi, {{user|upper}}.</h3>
          </div>
          <div class="col d-flex justify-content-end">
              <div>
                  <h2>Your Groups:</h2>
                  <ul>
                      <li>[GROUP NAME]</li>
                      <li>You are not a member of any groups.</li>
                  </ul>
              </div>
          </div>
        </div>

        <div class="row">
          <h2 class="mt-3">{{blog_title}}</h2>
          <div class="d-flex justify-content-center">
              <a href="{% url 'blog:new_post' %}" class="btn btn-success">New Post</a>
          </div>
        </div>
        <div class="row m-3">
            {% for i in object_list %}
            <div class="col-4 mb-4">

                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-md-4">
                                <img style="height:300; width:300;" src="{{i.formatted_img_url}} " class="img-fluid" alt="Sorry">
                            </div>
                            <div class="col-md-8">
                                <h5 class="card-title">{{i.title}}</h5>
                                <p class="card-text">{{i.content}}</p>
                                <div class="d-flex justify-content-between">
                                    <a href="{% url 'blog:detail' pk=i.id %}">Read More</a>
                                    <a class="text-decoration-none text-dark fw-bold" href="#">{{i.content.name}}</a>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex justify-content-between mt-3">
                          <a class="btn btn-info btn-sm text-light" href="{% url 'blog:edit_post' pk=i.id %}">Edit Post</a>
                          <a class="btn btn-danger btn-sm text-light" href="{% url 'blog:delete_post' pk=i.id %}">Delete Post</a>
                          <a class="btn btn-success btn-sm text-light" href="[PUBLISH POST URL]">Publish Post</a>
                          <label class="text-sucess">Published</label>
                        </div>
                    </div>
                </div>

            </div>
{% endfor %}
        </div>
      </div>
       <div class="pagination">
  <span>
    {% if page_obj.has_previous %}
      <a href="?page=1">&laquo; First</a>
      <a href="?page={{ page_obj.previous_page_number }}">Previous</a>
    {% endif %}
  </span>

  <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}</span>

  <span>
    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}">Next</a>
      <a href="?page={{ page_obj.paginator.num_pages }}">Last &raquo;</a>
    {% endif %}
  </span>
</div>
        </div>
        <div class="row">

        </div>

    </div>

{% endblock %}